In [31]:
#!pip install validate-docbr
import pandas as pd
import re
from validate_docbr import CPF, CNPJ
import os
import unicodedata

# Puxando tabelas  da camada bronze

In [32]:
df_categorias_b = pd.read_parquet('../bronze/data_bronze/idv_store_categorias_bd.parquet')
df_clientes_b = pd.read_parquet('../bronze/data_bronze/idv_store_clientes_bd.parquet')
df_enderecos_b = pd.read_parquet('../bronze/data_bronze/idv_store_enderecos_bd.parquet')
df_estoque_b = pd.read_parquet('../bronze/data_bronze/idv_store_estoque_bd.parquet')
df_fornecedores_b = pd.read_parquet('../bronze/data_bronze/idv_store_fornecedores_bd.parquet')
df_funcionarios_b = pd.read_parquet('../bronze/data_bronze/idv_store_funcionarios_bd.parquet')
df_itens_pedidos_b = pd.read_parquet('../bronze/data_bronze/idv_store_itens_pedidos_bd.parquet')
df_pagamentos_b = pd.read_parquet('../bronze/data_bronze/idv_store_pagamentos_bd.parquet')
df_pedidos_b = pd.read_parquet('../bronze/data_bronze/idv_store_pedidos_bd.parquet')
df_produtos_b = pd.read_parquet('../bronze/data_bronze/idv_store_produtos_bd.parquet')

# Informações Iniciais

In [33]:
df_categorias_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id_categoria  5 non-null      int64
 1   nome          5 non-null      object
 2   descricao     5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes

In [34]:
df_clientes_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cliente       150 non-null    int64
 1   nome_completo    150 non-null    object
 2   data_nascimento  150 non-null    object
 3   cpf_cnpj         150 non-null    object
 4   telefone         150 non-null    int64
 5   email            150 non-null    object
 6   data_cadastro    150 non-null    object
dtypes: int64(2), object(5)
memory usage: 8.3+ KB

In [35]:
df_enderecos_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id_endereco  150 non-null    int64
 1   id_cliente   150 non-null    int64
 2   tipo         150 non-null    object
 3   logradouro   139 non-null    object
 4   numero       150 non-null    int64
 5   complemento  139 non-null    object
 6   bairro       139 non-null    object
 7   cidade       139 non-null    object
 8   estado       139 non-null    object
 9   uf           139 non-null    object
 10  regiao       139 non-null    object
dtypes: int64(3), object(8)
memory usage: 13.0+ KB

In [36]:
df_estoque_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 5 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id_estoque               200 non-null    int64
 1   id_produto               200 non-null    int64
 2   quantidade               200 non-null    float64
 3   localizacao              200 non-null    object
 4   data_ultima_atualizacao  200 non-null    object
dtypes: float64(1), int64(2), object(2)
memory usage: 7.9+ KB

In [37]:
df_fornecedores_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id_fornecedor  10 non-null     int64
 1   razao_social   10 non-null     object
 2   nome_fantasia  10 non-null     object
 3   cnpj           10 non-null     object
 4   telefone       0 non-null      float64
 5   email          10 non-null     object
 6   endereco       0 non-null      float64
 7   data_cadastro  10 non-null     object
dtypes: float64(2), int64(1), object(5)
memory usage: 772.0+ bytes

In [38]:
df_funcionarios_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_funcionario  5 non-null      int64
 1   nome_completo   5 non-null      object
 2   cpf             5 non-null      object
 3   cargo           5 non-null      object
 4   data_admissao   5 non-null      object
dtypes: int64(1), object(4)
memory usage: 332.0+ bytes

In [39]:
df_itens_pedidos_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27238 entries, 0 to 27237
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id_item_pedido        27238 non-null  int64
 1   id_pedido             27238 non-null  int64
 2   id_produto            27238 non-null  int64
 3   quantidade            27238 non-null  float64
 4   preco_unitario_venda  27238 non-null  float64
dtypes: float64(2), int64(3)
memory usage: 1.0 MB

In [40]:
df_pagamentos_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id_pagamento      5000 non-null   int64
 1   id_pedido         5000 non-null   int64
 2   valor             5000 non-null   float64
 3   metodo_pagamento  5000 non-null   object
 4   data_pagamento    5000 non-null   object
 5   status_pagamento  5000 non-null   object
dtypes: float64(1), int64(2), object(3)
memory usage: 234.5+ KB

In [41]:
df_pedidos_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_pedido            5000 non-null   int64
 1   id_cliente           5000 non-null   int64
 2   id_funcionario       5000 non-null   int64
 3   id_endereco_entrega  5000 non-null   int64
 4   data_pedido          5000 non-null   object
 5   valor_total          5000 non-null   float64
 6   status_pedido        5000 non-null   object
dtypes: float64(1), int64(4), object(2)
memory usage: 273.6+ KB

In [42]:
df_produtos_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_produto      200 non-null    int64
 1   id_categoria    200 non-null    int64
 2   nome            200 non-null    object
 3   descricao       200 non-null    object
 4   sku             200 non-null    object
 5   preco_custo     200 non-null    float64
 6   preco_venda     200 non-null    float64
 7   unidade_medida  200 non-null    object
 8   data_cadastro   200 non-null    object
dtypes: float64(2), int64(2), object(5)
memory usage: 14.2+ KB

### Formatação de moeda

In [43]:
def tratar_valores_monetarios(df, colunas):
    for col in colunas:
        df[col] = df[col].astype(str).str.replace(",", ".", regex=False).astype(float)

In [44]:
tratar_valores_monetarios(df_itens_pedidos_b, ["preco_unitario_venda"])
tratar_valores_monetarios(df_pagamentos_b, ["valor"])
tratar_valores_monetarios(df_produtos_b, ["preco_custo", "preco_venda"])

### Tirar decimais

In [45]:
df_estoque_d = df_estoque_b.copy()
df_estoque_d['quantidade'] = df_estoque_d['quantidade'].astype('Int64')

In [46]:
df_itens_pedidos_d = df_itens_pedidos_b.copy()
df_itens_pedidos_d['quantidade'] = df_itens_pedidos_d['quantidade'].astype('Int64')

### Validação de CPF

In [47]:
def validar_documentos(df, coluna_doc='cpf_cnpj'):
    # Instanciando validadores
    validador_cpf = CPF()
    validador_cnpj = CNPJ()

    # Limpa caracteres não numéricos
    df['documento_limpo'] = df[coluna_doc].astype(str).str.replace(r'\D', '', regex=True)

    # Classifica tipo de documento
    def classificar(doc):
        if pd.isna(doc) or doc == '':
            return 'vazio'
        elif len(doc) == 11:
            return 'cpf'
        elif len(doc) == 14:
            return 'cnpj'
        else:
            return 'invalido'

    df_clientes_b['tipo_documento'] = df_clientes_b['documento_limpo'].apply(classificar)
    
    # Cria colunas separadas para cpf e cnpj
    df_clientes_b['cpf'] = df_clientes_b['documento_limpo'].where(df_clientes_b['tipo_documento'] == 'cpf')
    df_clientes_b['cnpj'] = df_clientes_b['documento_limpo'].where(df_clientes_b['tipo_documento'] == 'cnpj')

    # Validação
    df_clientes_b['cpf_validado'] = df_clientes_b['cpf'].apply(lambda x: validador_cpf.validate(x) if pd.notnull(x) else False)
    df_clientes_b['cnpj_validado'] = df_clientes_b['cnpj'].apply(lambda x: validador_cnpj.validate(x) if pd.notnull(x) else False)

    return df

In [48]:
df_clientes_cpf_cnpj = validar_documentos(df_clientes_b, coluna_doc='cpf_cnpj')

In [49]:
df_clientes_cpf_cnpj.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id_cliente       150 non-null    int64
 1   nome_completo    150 non-null    object
 2   data_nascimento  150 non-null    object
 3   cpf_cnpj         150 non-null    object
 4   telefone         150 non-null    int64
 5   email            150 non-null    object
 6   data_cadastro    150 non-null    object
 7   documento_limpo  150 non-null    object
 8   tipo_documento   150 non-null    object
 9   cpf              150 non-null    object
 10  cnpj             0 non-null      object
 11  cpf_validado     150 non-null    bool
 12  cnpj_validado    150 non-null    bool
dtypes: bool(2), int64(2), object(9)
memory usage: 13.3+ KB

In [50]:
df_clientes_drop = df_clientes_cpf_cnpj.drop(['cpf_cnpj','documento_limpo','tipo_documento','cnpj','cpf_validado','cnpj_validado'], axis=1)
df_clientes_drop.head(1)

,id_cliente,nome_completo,data_nascimento,telefone,email,data_cadastro,cpf
0,1,Helena Ribeiro da Silva,1988-07-15,11900000001,helena.silva@gmail.com,2025-07-24 17:49:55,84719250837

In [51]:
ordem_colunas_clientes = ['id_cliente','nome_completo','data_nascimento','cpf','telefone','email','data_cadastro']
df_clientes_tratado = df_clientes_drop.reindex(columns=ordem_colunas_clientes)
df_clientes_tratado.head(1)

,id_cliente,nome_completo,data_nascimento,cpf,telefone,email,data_cadastro
0,1,Helena Ribeiro da Silva,1988-07-15,84719250837,11900000001,helena.silva@gmail.com,2025-07-24 17:49:55

### Separando data e hora

In [52]:
def data_hora(df, coluna_df):
    df = df.copy()

    # Converter para datetime
    df[coluna_df] = pd.to_datetime(df[coluna_df], errors='coerce')

    # Separar data e hora
    df[f'{coluna_df}_data'] = df[coluna_df].dt.date.astype(str)
    df[f'{coluna_df}_hora'] = df[coluna_df].dt.time.astype(str)

    return df

In [53]:
df_clientes_h = data_hora(df_clientes_tratado, 'data_cadastro')
df_estoque_h = data_hora(df_estoque_d, 'data_ultima_atualizacao')
df_fornecedores_h = data_hora(df_fornecedores_b, 'data_cadastro')
df_pagamentos_h = data_hora(df_pagamentos_b, 'data_pagamento')
df_pedidos_h = data_hora(df_pedidos_b, 'data_pedido')

In [54]:
df_clientes_drop = df_clientes_h.drop(['data_cadastro'], axis=1)
df_estoque_drop = df_estoque_h.drop(['data_ultima_atualizacao'], axis=1)
df_fornecedores_drop = df_fornecedores_h.drop(['data_cadastro'], axis=1)
df_pagamentos_drop = df_pagamentos_h.drop(['data_pagamento'], axis=1)
df_pedidos_drop = df_pedidos_h.drop(['data_pedido'], axis=1)

In [55]:
df_clientes_s = df_clientes_drop.rename(columns={'data_cadastro_data':'data','data_cadastro_hora':'hora'})
df_estoque_s = df_estoque_drop.rename(columns={'data_ultima_atualizacao_data':'data','data_ultima_atualizacao_hora':'hora'})
df_fornecedores_s = df_fornecedores_drop.rename(columns={'data_cadastro_data':'data','data_cadastro_hora':'hora'})
df_pagamentos_s = df_pagamentos_drop.rename(columns={'data_pagamento_data':'data','data_pagamento_hora':'hora'})
df_pedidos_s = df_pedidos_drop.rename(columns={'data_pedido_data':'data','data_pedido_hora':'hora'})

### Remoção de caracteres especiais

In [56]:
def limpar_df(df):
    # Limpar colunas
    df.columns = (
        df.columns
        .str.lower()
        .str.strip()
        .str.normalize("NFKD")
        .str.encode("ascii", errors="ignore").str.decode("utf-8")
        .str.replace(r"[^a-z0-9]+", "_", regex=True)
        .str.strip("_")
    )
# Remover acentos dos valores textuais (apenas colunas object/str)
    for col in df.select_dtypes(include="object").columns:
        df[col] = df[col].apply(
            lambda x: unicodedata.normalize("NFKD", x).encode("ascii", "ignore").decode("utf-8")
            if isinstance(x, str) else x
        )
    
    return df

In [57]:
# ✅ Dicionário com todos os seus DataFrames
dfs = {
    "df_categorias_b": df_categorias_b,
    "df_clientes_s": df_clientes_s,
    "df_enderecos_b": df_enderecos_b,
    "df_estoque_s": df_estoque_s,
    "df_fornecedores_s": df_fornecedores_s,
    "df_funcionarios_b": df_funcionarios_b,
    "df_itens_pedidos_d": df_itens_pedidos_d,
    "df_pagamentos_s": df_pagamentos_s,
    "df_pedidos_s": df_pedidos_s,
    "df_produtos_b": df_produtos_b,
}

# Salvando dataframes em parquet

In [58]:
# ✅ Pasta de saída
output_dir = "data_silver/"
os.makedirs(output_dir, exist_ok=True)

# ✅ Loop para limpar e salvar cada DataFrame
for nome, df in dfs.items():
    if isinstance(df, pd.DataFrame):
        try:
            df_limpo = limpar_df(df.copy())

            # Nome do arquivo sem "df_" e sem acentos
            nome_arquivo = unicodedata.normalize("NFKD", nome.replace("df_", "").replace("_b", "_s")).encode("ascii", "ignore").decode("utf-8")
            caminho_saida = os.path.join(output_dir, f"idv_store_{nome_arquivo}.parquet")

            df_limpo.to_parquet(caminho_saida, index=False)
            print(f"✅ Salvo: idv_store_{nome_arquivo}.parquet")

        except Exception as e:
            print(f"❌ Erro ao processar {nome}: {e}")
    else:
        print(f"⚠️ Ignorado (não é DataFrame): {nome}")

✅ Salvo: idv_store_categorias_s.parquet
✅ Salvo: idv_store_clientes_s.parquet
✅ Salvo: idv_store_enderecos_s.parquet
✅ Salvo: idv_store_estoque_s.parquet
✅ Salvo: idv_store_fornecedores_s.parquet
✅ Salvo: idv_store_funcionarios_s.parquet
✅ Salvo: idv_store_itens_pedidos_d.parquet
✅ Salvo: idv_store_pagamentos_s.parquet
✅ Salvo: idv_store_pedidos_s.parquet
✅ Salvo: idv_store_produtos_s.parquet